.table th, .table td {
    min-width: 90px;
    text-align: center;
}
.table img {
    width: auto;
    height: auto;
}
.margin-class {
    margin-left: 10px;
}

.table-container {
    overflow-x: auto;
}

.table-hover {
    width: 100%;
    table-layout: fixed;
    border-top: 1px solid #000;
}
.responsive-img {
    max-width: 100%;
    height: auto;
}

@media screen and (min-width: 768px) {
    .responsive-img {
        width: 900px;
        height: auto;
    }
}