.table th, .table td {
    min-width: 90px; /* 모든 열에 최소 너비를 설정 */
    text-align: center;
}
.table img {
    width: auto; /* 이미지 너비를 설정 */
    height: auto; /* 이미지 높이를 자동 조정 */
}
.margin-class {
    margin-left: 10px;
}

.table-container {
    overflow-x: auto;
}

/* .img_box {
    overflow: hidden;
	position: relative;
	display: block;
	box-sizing: border-box;
	border: 1px solid #eaeaea;
} */

.table-hover {
    width: 100%;
    table-layout: fixed;
    border-top: 1px solid #000;
}
.responsive-img {
    max-width: 100%;
    height: auto;
}

/* PC 환경에서 적용할 스타일 */
@media screen and (min-width: 768px) {
    .responsive-img {
        width: 900px;
        height: auto;
    }
}